#encrypt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
  
  section {
    flex-basis: 45%;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  textarea {
    width: 80%;
    height: 200px;
    padding: 10px;
    border: 2px solid #ccc;
    font-size: 16px;
  }
  
  textarea[readonly] {
    background-color: #f9f9f9;
    color: #555;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  